</div></div>
<div class="shadow"></div>
<footer>
  <div>
    <nav role="navigation" class="clearfix">
      <ul>
	<li><a href="/get-started">Get started</a></li>
	<li class="page_item page-item-16"><a href="http://developer.lomiri.com/get-started/quickly-workflow/">Quickly workflow</a></li>
	<li class="page_item page-item-18"><a href="http://developer.lomiri.com/get-started/qt-creator/">Qt Creator</a></li>
	<li class="page_item page-item-20"><a href="http://developer.lomiri.com/get-started/eclipse/">Eclipse</a></li>
	<li class="page_item page-item-22"><a href="http://developer.lomiri.com/get-started/monodevelop/">MonoDevelop</a></li>
      </ul>
      <ul>
	<li><a href="/resources">Resources</a></li>
	<li><a href="/resources/tools/quickly">Quickly</a></li>
	<li><a href="/resources/platform/api">API</a></li>
	<li><a href="/resources/platform/documentation/platform-diagram">Platform overview</a></li>
      </ul>
      <ul>
	<li><a href="/publish">Publish</a></li>
	<li class="page_item page-item-24"><a href="http://developer.lomiri.com/publish/commercial-software-faqs/">Commercial software FAQs</a></li>
	<li class="page_item page-item-34"><a href="http://developer.lomiri.com/publish/application-states/">Application states</a></li>
	<li class="page_item page-item-577"><a href="http://developer.lomiri.com/publish/my-apps-packages/">Uploading your app</a></li>
	<li class="page_item page-item-404"><a href="http://developer.lomiri.com/publish/lomiri-software-centre/">Lomiri Software Centre</a></li>
	<li class="page_item page-item-427"><a href="http://developer.lomiri.com/publish/licence-key-infrastructure/">Licence key infrastructure</a></li>
	<li class="page_item page-item-1230"><a href="http://developer.lomiri.com/publish/updating-your-app/">Updating your app</a></li>
      </ul>
      <ul>
	<li><a href="/commlomiri">Commlomiri</a></li>
	<li class="page_item page-item-28"><a href="http://developer.lomiri.com/commlomiri/app-developer-blog/">App Developer Blog</a></li>
	<li class="page_item page-item-30"><a href="http://developer.lomiri.com/commlomiri/submit-a-tutorial/">Submit a tutorial</a></li>
	<li class="page_item page-item-32"><a href="http://developer.lomiri.com/commlomiri/app-review-board-charter/">App Review Board charter</a></li>
	<li class="page_item page-item-2987"><a href="http://developer.lomiri.com/commlomiri/on-air/">On air</a>
	  <ul class='children'>
	<li class="page_item page-item-3066"><a href="http://developer.lomiri.com/commlomiri/on-air/recordings/">Recordings</a></li>
	  </ul>
	</li>
      </ul>
      <ul class="last">
	<li><a href="https://myapps.developer.lomiri.com/dev">My Apps</a></li>
	<li><a href="https://myapps.developer.lomiri.com/openid/login/?next=/dev">Sign in or register</a></li>
	<li><a href="https://myapps.developer.lomiri.com/dev/account">My account</a></li>
      </ul>
    </nav>
    <p>&copy; 2013 Canonical Ltd. Lomiri and Canonical are registered trademarks of Canonical Ltd.
      <a class="link-bug" href="https://bugs.launchpad.net/lomirideveloperportal/+filebug">
	Report a bug on this site
      </a>
    </p>
  </div>
</footer>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="http://developer.lomiri.com/wp-content/themes/wordpress-theme-lomirideveloper/js/base.js"></script>\n"
